venv/
*.pyc
__pycache__/
instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.idea/
*.swp
*~
*.db
*.csv
.DS_Store

# project specific
services/web/data
services/web/metadata
services/web/reject
services/web/exp_db

services/web/data_p
services/web/metadata_p
services/web/reject_p
services/web/exp_db_p

services/web/app/static/human_exp_images
