.jspsych-image-click-button{
    border: 2px solid black;
}

.jspsych-image-click-button:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.correct-choice {
    border: 20px solid green;
}

.wrong-choice {
    border: 20px solid red;
}

.jspsych-image-click-button{
    position: absolute;
    width: 35%;
    height: 35%;
}

.jspsych-image{
    position: absolute;
    width: 35%;
    height: 35%;
}

button.jspsych-survey-multi-select{
    margin-bottom: 50px;
}