
.jspsych-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: transparent; /* Green background */
    border: 0;
    cursor: pointer; /* Cursor on hover */
  }
  
.jspsych-slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: transparent; /* Green background */
    border: 0;
    cursor: pointer; /* Cursor on hover */
}